/* mainとなるcss */
/* line 7, ../sass/main.sass */
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

/* line 13, ../sass/main.sass */
#container {
  height: 100%;
  width: 100%;
  background-color: black;
}

/* line 18, ../sass/main.sass */
#cal {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0px;
  font-family: Arial, Sans-Serif;
  color: white;
}
/* line 27, ../sass/main.sass */
#cal #month {
  font-size: 50px;
  text-shadow: 0px 0px 1px #aaaaaa;
  margin: 0px;
  position: relative;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
/* line 37, ../sass/main.sass */
#cal #year {
  font-size: 15px;
  position: absolute;
  top: 13px;
  left: 60px;
}
/* line 44, ../sass/main.sass */
#cal #days {
  font-size: 12px;
  border-top: solid 1px rdb(33, 33, 33);
}
/* line 2, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#cal #days table th {
  text-align: center;
  font-weight: bold;
}
/* line 6, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#cal #days table td,
#cal #days table th {
  padding: 2px;
}
/* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#cal #days table td.numeric,
#cal #days table th.numeric {
  text-align: right;
}
/* line 52, ../sass/main.sass */
#cal #days table .holiday {
  color: red;
}
